<!DOCTYPE html>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <title>东宝科技-权限添加</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <div class="page-header">
            <h1>
                用户菜单
                <small>
                    <i class="icon-double-angle-right"></i>
                    角色分配
                </small>
            </h1>
        </div>

        <div id="signup-box" class="signup-box widget-box no-border">
            <div class="widget-body">
                <div class="widget-main">
                    <h4 class="header green lighter bigger">
                        <i class="icon-group blue"></i>
                        角色分配
                    </h4>

                    <div class="space-6"></div>
                    <p> 请输入你的信息</p>

                    <form id="addUserRole">
                        <fieldset>
                            <label class="block clearfix">
                                用户名:
                                <select name="userid">
                                    <option value="0" selected>请选择用户</option>
                                    <option th:each="user,userStat : ${userInfos}"  th:value="${user.getId()}" th:text="${user.getUsername()}"></option>
                                </select>
                            </label>

                            <label class="block clearfix">
                                角色:
                                <select name="permissionid">
                                    <option value="0" selected>请选择角色</option>
                                    <option th:each="permis,permisStat : ${permissionInfos}"  th:value="${permis.getId()}" th:text="${permis.getPermissionexplain()}"></option>
                                </select>
                            </label>

                            <div class="clearfix">
                                <button type="reset" class="pull-left btn btn-sm" onclick="resetUserRole()">
                                    <i class="icon-refresh"></i>
                                    重置
                                </button>

                                <button type="button" class="pull-left btn btn-sm btn-success" onclick="addUserRole()">
                                    添加
                                    <i class="icon-arrow-right icon-on-right"></i>
                                </button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
        <!--引入user js-->
        <script src="../../user/userrole.js"></script>
    </body>
</html>
