<!DOCTYPE html>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <title>东宝科技-用户添加</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <div class="page-header">
            <h1>
                用户菜单
                <small>
                    <i class="icon-double-angle-right"></i>
                    用户信息
                </small>
            </h1>
        </div>

        <div id="signup-box" class="signup-box widget-box no-border">
            <div class="widget-body">
                <div class="widget-main">
                    <h4 class="header green lighter bigger">
                        <i class="icon-group blue"></i>
                        用户信息编辑
                    </h4>

                    <div class="space-6"></div>
                    <p> 请输入你的信息</p>

                    <form id="editUserProfile">
                        <fieldset>
                            <input type="hidden" name="userid" th:value="${userprofile.id}">
                            <label class="block clearfix">
                                <span class="block input-icon input-icon-right">
                                    用户名:<input name="username" type="text" class="form-control" th:value="${userprofile.username}" placeholder="用户名"/>
                                </span>
                            </label>

                            <label class="block clearfix">
                                <span class="block input-icon input-icon-right">
                                    居住地:<input name="useraddress" type="text" class="form-control" th:value="${userprofile.useraddress}" placeholder="居住地" />
                                </span>
                            </label>

                            <label class="block clearfix">
                                <span class="block input-icon input-icon-right">
                                    年龄:<input name="age" type="text" class="form-control" th:value="${userprofile.age}" placeholder="年龄" />
                                </span>
                            </label>

                            <label class="block clearfix">
                                <span class="block input-icon input-icon-right">
                                    工作时间:<input name="worktime" type="text" class="form-control" th:value="${userprofile.worktime}" placeholder="加入公司时间" />
                                </span>
                            </label>

                            <label class="block clearfix">
                                <span class="block input-icon input-icon-right">
                                    关于用户:<input name="aboutuser" type="text" class="form-control" th:value="${userprofile.aboutuser}" placeholder="关于我" />
                                </span>
                            </label>

                            <div class="clearfix">
                                <button type="reset" class="pull-left btn btn-sm" onclick="resetUserProfile()">
                                    <i class="icon-refresh"></i>
                                    重置
                                </button>

                                <button type="button" class="pull-left btn btn-sm btn-success" onclick="editUserProfile()">
                                    保存
                                    <i class="icon-arrow-right icon-on-right"></i>
                                </button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
        <!--引入profile js-->
        <script src="../../user/userprofile.js"></script>
    </body>
</html>
