<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8" />
		<title>控制台内容</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	</head>

	<body>

		<div class="page-header">
			<h1>
				控制台
				<small>
					<i class="icon-double-angle-right"></i>
					查看
				</small>
			</h1>
		</div><!-- /.page-header -->

		<div class="row">
			<div class="col-xs-12">
				<!-- PAGE CONTENT BEGINS -->

				<div class="alert alert-block alert-success">
					<button type="button" class="close" data-dismiss="alert">
						<i class="icon-remove"></i>
					</button>

					<i class="icon-ok green"></i>

					欢迎使用
					<strong class="green">
						DongTech后台管理系统
						<small>(v1.0)</small>
					</strong>
					,轻量级好用的后台管理系统模版.
				</div>

				<div class="red">
					<h4>技术选型：</h4>
					<ol>
						<li>核心框架：Spring Boot。</li>
						<li>安全框架：Apache Shiro。</li>
						<li>模板引擎：Thymeleaf。</li>
						<li>持久层框架：MyBatis。</li>
						<li>数据库连接池：Druid。</li>
						<li>工具类：Fastjson。</li>
						<li>更多……</li>
					</ol>
				</div>

				<div class="blue">
					<h3>联系信息:</h3>
					<a class="blue" href="http://wpa.qq.com/msgrd?v=3&uin=9312085&site=qq&menu=yes">
						<img src="../../img/QQ.png" width="22px" height="22px">9312085</img>
					</a>
					<br>
					<a class="blue" href="http://www.dongtech.com.cn">
						<i class="icon-home home-icon bigger-150"></i>www.dongtech.com.cn
					</a>
				</div>
			</div><!-- /.col -->
		</div><!-- /.row -->

	</body>
</html>
