<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8" />
		<title>控制台内容</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	</head>

	<body>

		<div class="page-header">
			<h1>
				控制台
				<small>
					<i class="icon-double-angle-right"></i>
					查看
				</small>
			</h1>
		</div><!-- /.page-header -->

		<div class="row">
			<div class="col-xs-12">
				<!-- PAGE CONTENT BEGINS -->

				<div class="alert alert-block alert-success">
					<button type="button" class="close" data-dismiss="alert">
						<i class="icon-remove"></i>
					</button>

					<i class="icon-ok green"></i>

					欢迎使用
					<strong class="green">
						DongTech后台管理系统
						<small>(v1.0)</small>
					</strong>
					,轻量级好用的后台管理系统模版.
				</div>
			</div><!-- /.col -->
		</div><!-- /.row -->

	</body>
</html>
